
<h1>Create New User</h1>
<form [formGroup]="userForm">
    <div class="form-row">
        <mat-form-field class="form-col-50">
            <input matInput type="text" placeholder="First Name" formControlName="firstName" />
            <mat-error>Please Enter FirstName</mat-error>
        </mat-form-field>
        <mat-form-field class="form-col-50">
            <input matInput type="text" placeholder="Last Name" formControlName="lastName" />
            <mat-error>Please Enter Last Name</mat-error>
        </mat-form-field>
    </div>
    <div class="form-row">
        <mat-form-field class="form-col">
            <input matInput type="text" placeholder="address" formControlName="address" />
            <mat-error>Please Enter Address</mat-error>
        </mat-form-field>
    </div>
    <div class="form-row">
        <mat-form-field class="form-col-50">
            <input matInput type="email" placeholder="Email" formControlName="email" />
            <mat-error>Please Enter Valid Email</mat-error>
        </mat-form-field>
        <mat-form-field class="form-col-50">
            <input matInput type="text" placeholder="Phone Number" formControlName="phone" maxLength="10"/>
            <mat-error>Please Enter Valid Phone Number</mat-error>
        </mat-form-field>
    </div>
</form>
<div class="submit-btn">
    <button mat-raised-button color="primary" (click)="sumbit()" [disabled]="!userForm.valid">Submit</button>
    <button mat-raised-button color="secondary" style="margin-left: 20px;" (click)="cancel()">Cancel</button>
</div>